<div class="container">
	<div class="page-header">
	  <h1>Goochme</h1>
    <h4 class="center"><small>Gimmie the Gooch!</small></h4>
    <h1>Cribbage Game Tracker</h1>
	</div>
		<h3 class="center">Cribbage is a family tradition played for bragging rights.</h3>
    <hr>
	<div class="row">
    <div class="well col-xs-12">
      <h3 class="midrow">Where did the term "Gooch" come from?</h3>
      <h2 class="left">While trying to remember the term "Knobs", Kelly's sister called it a "Gooch".</h2>
    </div>
    <div class="well col-xs-12">
      <h3 class="midrow">Bragging Rights</h3>
      <h2 class="left">After years of playing Cribbage, we needed a way to track the results of all our games.</h2>
      </div>
    <div class=" well col-xs-12">
      <h3 class="midrow">Perfect Hands</h3>
      <h2 class="left">Only one player has achieved this feat...</h2>
      </div>
  </div>
</div>