<div class="container">
	<div class="page-header">
	  <h1>Goochme Game Tracker <small>Gimmie the Gooch!</small></h1>
	</div>
	<div>
</div>
<div class="container">
		<h2>Concept:</h2>
		<p>This is where the concept is explained of how the name and idea for the site is.</p>
	</div>
	<div class="row">
    <div class="col-sm-4">
      <h3 class="midrow">View Games</h3>
      <h2 class="left">Browse games and sign up later</h2>
    </div>
    <div class="col-sm-4">
      <h3 class="midrow">View Games</h3>
      <h2 class="left">Browse games and sign up later</h2>
      </div>
    <div class="col-sm-4">
      <h3 class="midrow">View Games</h3>
      <h2 class="left">Browse games and sign up later</h2>
      </div>
  </div>
</div>