<div class="center jumbotron">
  <h1>Welcome to Goochme.com!</h1>
  <h2>This site is a scoring site for Gooch players</h2>
</div>
<div class="container center">
  <div class="row">
    <div class="col-sm-4">
      <h3 class="midrow">View Games</h3>
      <h2>Browse games and sign up later</h2>
      <p><%= link_to "Browse Previous Games", "", class: "btn btn-primary btn-small" %></p>
    </div>
    <div class="col-sm-4">
      <h3 class="midrow">View Games</h3>
      <h2>Browse games and sign up later</h2>
      <p><%= link_to "Browse Previous Games", "", class: "btn btn-primary btn-small" %></p>
    </div>
    <div class="col-sm-4">
      <h3 class="midrow">View Games</h3>
      <h2>Browse games and sign up later</h2>
      <p><%= link_to "Browse Previous Games", "", class: "btn btn-primary btn-small" %></p>
    </div>
  </div>
</div>