<div class="container">
	<div class="page-header">
	  <h1>Rules</h1>
    <h2>The Rules of the Game</h2>
	</div>
</div>
<div class="container">
	</div>
	<div class="row">
    <div class="well col-xs-12">
      <h3>House Rule #1</h3>
      <h2 class="left">Cut for deal, low card has first crib.</h2>
    </div>
    <div class="well col-xs-12">
      <h3>House Rule #2</h3>
      <h2 class="left">Pegs must be reset before first card is played, otherwise you start from where you left off.</h2>
      </div>
    <div class="well col-xs-12">
      <h3>House Rule #3</h3>
      <h2 class="left">Muggins points are available.</h2>
      </div>
  </div>
</div>