$navbar-inverse-bg: #000;
$light-orange: #ff8c00;
$navbar-inverse-color: $light-orange;

@import "bootstrap-sprockets";
@import "bootstrap";


#logo {
  margin-top: 10px;
  margin-bottom: 10px;
  float: left;
  margin-right: 10px;
  font-size: 1.1em;
  color: #fff;
  font-weight: bold;
}

#login {
  float: right !important;
  margin-left: 25px;
  margin-top: 13px;
  display: inline;
}

#logout {
  float: right !important;
  margin-left: 25px;
  margin-top: 13px;
  display: inline;
}

#signup {
  float: right !important;
  margin-left: 25px;
  margin-top: 13px;
  display: inline;
}

#profile {
  float: right !important;
  margin-left: 25px;
  margin-top: 13px;
  display: inline;
}

#logo#hover {
  color: white;
  text-decoration: none;
}

body {
  padding-top: 80px;
  background-color: #2d2d2d;
  /*background-image: image-url("js.png");
  background-size: cover;
  */
}

.modal-content-login {
  background-color: none;
  margin-top: 325px;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  outline: 0 none;
  position: relative;
  min-height: 215px;
}

.nav_item {
  margin-left: 25px;
  float: left;
  margin-top: 13px;
  display: inline;
}

.center {
  text-align: center;
}

h1, h2 ,h3 ,h4 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
  color: #000;
}

h2 {
  font-size: 1.2em;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

h3 {
  color: #000;
}

th, tr {
  color: #000;
}

p {
  color: #000;
}

label {
  color: #000;
}

.left {
  text-align: left;
  letter-spacing: .5px;
}

.footer {
  margin-top: 25px;
  border-top: 1px solid #000;
  color: #000;
}

.footer p {
  margin-top: 10px;
}

.jumbotron {
  // background-image: asset-url("js.png");
  // background-size: cover;
  background-color: #000;
}

.game-meta-details {
  border-top: 1px solid #eaeaea;
  margin-top: 15px;
}

.game-actions {
  border-top: 1px solid #eaeaea;
  padding-top: 5px;
}

.show-game {
  margin-top: 15px;
}

.game-title {
  font-weight: bold;
  font-size: 1.5em
}

.game-body {
  border-top: 1px solid #eaeaea;
  padding-top: 15px;
  padding-bottom: 15px;
  color: #fff;
}

.well {
  background-color: #000;
}

.listing {
  list-style: none;
  padding-left: 0px;
}