<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Goochme", "", class: 'btn btn-lg btn-success', id: "logo" %>
    <div class="nav_item">
        <%= link_to "Home", home_path, class: 'btn btn-lg btn-success' %>
    </div>
    <div class="nav_item">
      <%= link_to "About", about_path, class: 'btn btn-lg btn-success' %>
    </div>
    <div class="nav_item">
      <%= link_to "Login", login_path, class: 'btn btn-lg btn-success' %>
    </div>
  </div>
</header>