<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Goochme", "", class: 'btn btn-lg btn-success', id: "logo" %>
    <div class="nav_item">
        <%= link_to "Link 1", "", class: 'btn btn-lg btn-success' %>
    </div>
    <div class="nav_item">
      <%= link_to "Link 2", "", class: 'btn btn-lg btn-success' %>
    </div>
    <div class="nav_item">
      <%= link_to "Link 3", "", class: 'btn btn-lg btn-success' %>
    </div>
  </div>
</header>